absl-py==0.7.1
alabaster==0.7.12
allennlp==0.9.0
anaconda-client==1.6.14
anaconda-navigator==1.8.7
anaconda-project==0.8.2
aniso8601==7.0.0
argcomplete==1.9.4
asn1crypto==0.22.0
astor==0.7.1
astroid==2.0.4
astropy==3.0.5
atomicwrites==1.2.1
attrdict==2.0.0
attrs==18.2.0
Automat==0.7.0
aws-xray-sdk==2.2.0
awscli==1.16.39
Babel==2.6.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.3
bert==2.2.0
bert-serving-client==1.6.9
bert-serving-server==1.6.9
bert-tensorflow==1.0.1
biscuits==0.1.1
bitarray==0.8.3
bkcharts==0.2
blaze==0.11.3
bleach==1.5.0
blis==0.2.4
bokeh==0.13.0
boto==2.48.0
boto3==1.9.29
botocore==1.12.29
Bottleneck==1.2.1
bx-python==0.8.2
bz2file==0.98
catboost==0.10.4.1
category-encoders==1.3.0
certifi==2019.9.11
certificates==1.0.4
cffi==1.11.5
chardet==3.0.4
chat==1.0.7.dev136
Click==7.0
cloudpickle==0.6.1
clyent==1.2.2
colorama==0.3.9
conda==4.7.12
conda-build==3.10.5
conda-package-handling==1.6.0
conda-verify==2.0.0
conllu==1.3.1
constantly==15.1.0
contextlib2==0.5.5
cookies==2.2.1
cryptography==2.3.1
cssselect==1.0.3
cycler==0.10.0
cymem==2.0.2
cysignals==1.9.0
Cython==0.29
cytoolz==0.9.0.1
dask==0.19.4
dataclasses==0.7
datashape==0.5.4
de-core-news-sm==2.0.0
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.8.2
distributed==1.23.3
Django==2.1.7
docker==3.5.1
docker-pycreds==0.3.0
docopt==0.6.2
docutils==0.14
e==1.4.5
EasyProcess==0.2.7
ecdsa==0.13
editdistance==0.5.2
en-core-web-lg==2.0.0
en-core-web-sm==2.0.0
entrypoints==0.2.3
enum34==1.1.6
erlastic==2.0.0
et-xmlfile==1.0.1
fast-bert==1.4.4
fastai==1.0.59
fastcache==1.0.2
fastprogress==0.1.21
featuretools==0.3.1
filelock==3.0.4
flaky==3.4.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.6
Flask-Uploads==0.2.1
ftfy==5.5.1
future==0.16.0
gast==0.2.0
gensim==3.7.2
gevent==1.4.0
gitdb2==2.0.5
GitPython==2.1.11
glob2==0.6
gmpy2==2.0.8
google-pasta==0.1.7
GPUtil==1.4.0
graphviz==0.10
greenlet==0.4.15
grpcio==1.15.0
h5py==2.8.0
heapdict==1.0.0
html5lib==0.9999999
humanize==0.5.1
hyperlink==18.0.0
hyperopt==0.2.1
icc-rt==2019.0
idna==2.7
imageio==2.3.0
imagesize==1.1.0
importlib-metadata==0.6
incremental==17.5.0
intel-openmp==2019.0
ipaddress==1.0.22
ipykernel==5.1.0
ipython==7.0.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
ItsDangerous==1.0.0
jdcal==1.4
jedi==0.13.1
jeepney==0.4
jieba==0.39
Jinja2==2.10.3
jmespath==0.9.3
joblib==0.13.2
json5==0.8.5
jsondiff==1.1.2
jsonnet==0.11.2
jsonpickle==1.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.2
jupyterlab-launcher==0.13.1
jupyterlab-server==0.2.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==15.1.0
kitchen==1.2.5
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lightgbm==2.2.1
llvmlite==0.23.1
locket==0.2.0
lxml==4.2.5
Markdown==3.0.1
MarkupSafe==1.0
matchzoo-py==1.0
matplotlib==3.0.0
mccabe==0.6.1
mistune==0.8.4
mkl==2019.0
mkl-fft==1.0.6
mkl-random==1.0.1.1
mock==2.0.0
more-itertools==4.3.0
moto==1.3.6
mpmath==1.0.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
msgpack-python==0.5.6
multipledispatch==0.6.0
murmurhash==1.0.1
navigator-updater==0.2.1
nbconvert==5.4.0
nbformat==4.4.0
neo4j-driver==1.6.2
neobolt==1.7.4
neotime==1.7.4
neptune-cli==2.8.16
networkx==2.2
nltk==3.4.1
nose==1.3.7
notebook==5.7.0
numba==0.38.0
numexpr==2.6.8
numpy==1.16.3
numpydoc==0.8.0
nvidia-ml-py3==7.352.0
oauthlib==2.1.0
odo==0.5.1
olefile==0.45.1
OpenNMT-tf==1.10.1
openpyxl==2.5.9
overrides==1.9
packaging==18.0
pandas==0.24.1
pandocfilters==1.4.2
parsel==1.5.1
parsimonious==0.8.1
parso==0.3.1
partd==0.3.9
path.py==11.5.0
pathlib2==2.3.0
patsy==0.5.0
pbr==3.1.1
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
pinyin==0.4.0
pkginfo==1.4.2
plac==0.9.6
pluggy==0.8.0
ply==3.11
preshed==2.0.1
prometheus-client==0.4.2
prompt-toolkit==2.0.4
protobuf==3.6.1
psutil==5.4.7
ptyprocess==0.5.2
py==1.7.0
py2neo==3.1.2
pyaml==17.12.1
pyasn1==0.4.4
pyasn1-modules==0.2.4
pyBigWig==0.3.11
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.6.6
pycurl==7.43.0.1
PyDispatcher==2.0.5
pydot==1.2.4
pydot-ng==2.0.0
pyenchant==2.0.0
pyfasttext==0.4.5
pyflakes==2.0.0
Pygments==2.3.1
PyHamcrest==1.9.0
pyhocon==0.3.51
PyJWT==1.6.4
pykwalify==1.5.2
pylint==2.1.1
pymongo==3.7.2
Pympler==0.6
PyMySQL==0.9.3
pyodbc==4.0.24
pyonmttok==1.10.1
pyOpenSSL==17.0.0
pyparsing==2.2.2
pypinyin==0.22.0
PyQt5==5.9.2
PyQt5-sip==4.19.13
pysam==0.15.2
PySocks==1.6.6
pytest==3.9.2
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.3.0
python-dateutil==2.7.3
python-jose==2.0.2
python-Levenshtein==0.12.0
pytorch-lamb==1.0.0
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.1.0
pytz==2018.5
PyVirtualDisplay==0.2.4
PyWavelets==1.0.1
PyYAML==3.12
pyzmq==17.1.2
QtAwesome==0.5.1
qtconsole==4.3.1
QtPy==1.5.2
queuelib==1.5.0
raven==6.9.0
recordtype==1.3
regex==2018.1.10
requests==2.22.0
requests-oauthlib==1.0.0
responses==0.10.1
rope==0.11.0
rouge==0.3.1
rsa==3.4.2
RSeQC==3.0.0
s3fs==0.1.6
s3transfer==0.1.13
sacremoses==0.0.35
scapy==2.4.0
scikit-image==0.14.1
scikit-learn==0.20.3
scipy==1.1.0
Scrapy==1.6.0
seaborn==0.9.0
SecretStorage==3.1.0
selenium==3.141.0
Send2Trash==1.5.0
sentencepiece==0.1.83
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.8
six==1.10.0
sklearn==0.0
smart-open==1.7.1
smmap2==2.0.5
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.0.5
spacy==2.1.9
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
spyder==3.2.8
spyder-kernels==1.1.0
SQLAlchemy==1.2.12
sqlparse==0.2.4
srsly==0.2.0
statsmodels==0.9.0
steppy==0.1.15
steppy-toolkit==0.1.13
sympy==1.1.1
tables==3.4.4
tb-nightly==1.14.0a20190603
tbb==2019.0
tbb4py==2019.0
tblib==1.3.2
tensorboard==1.8.0
tensorboardX==1.4
tensorflow==1.8.0
tensorflow-hub==0.1.1
tensorflow-probability==0.4.0
termcolor==1.1.0
terminado==0.8.1
terminaltables==2.1.0
testpath==0.4.2
textblob==0.15.1
tf-estimator-nightly==1.14.0.dev2019060501
thinc==7.0.8
thulac==0.2.0
toolz==0.9.0
torch==1.2.0
torchtext==0.4.0
torchvision==0.3.0
tornado==5.1.1
tqdm==4.31.1
traitlets==4.3.2
transformers==2.1.1
Twisted==18.9.0
typed-ast==1.1.0
typing==3.6.6
ujson==1.35
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.22
voluptuous==0.11.5
w3lib==1.20.0
wasabi==0.4.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.53.0
Werkzeug==0.16.0
wget==3.2
widgetsnbextension==3.4.2
word2number==1.1
wrapt==1.10.11
xgboost==0.80
xlrd==1.0.0
XlsxWriter==1.1.2
xlwt==1.2.0
xmltodict==0.11.0
zhon==1.1.5
zict==0.1.3
zope.interface==4.6.0
